@font-face {
	font-family: 'AvenirNextCyr';
	src: url('../fonts/avenirnextcyr-regular.eot'); 
	src: url('../fonts/avenirnextcyr-regular.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/avenirnextcyr-regular.woff2') format('woff2'), 
		url('../fonts/avenirnextcyr-regular.woff') format('woff'), 
		url('../fonts/avenirnextcyr-regular.ttf') format('truetype'), 
		url('../fonts/avenirnextcyr-regular.svg#avenirnextcyr-regular') format('svg'); 
}

:root{
	--black: rgba(0, 0, 0, 0.85);
	--grey: rgba(0, 0, 0, 0.45);
	--grey2: rgba(0, 0, 0, 0.25);
	--supergrey: #F0F0F0;
	--greytable: #FAFAFA;
	--greystroke: #D9D9D9;
	--greyextra: #F0F0F0;
	--blue:  #1890FF;
	--bluehover: #40A9FF;
	--green:  #52C41A;
	--red: #FF4D4F;
	--redhover: #FF7875;
	--redmistakestorke: #FFCCC7;
	--redmistakebg: #FFF2F0;
	--fon: #fff;
	--fontfam: 'AvenirNextCyr', sans;
	font-family: var(--fontfam);
	font-weight: 400;
	font-size: 14px;
	font-variant: normal;
	color: var(--black);
}

body{
	width: 1200px;
	margin: 0px auto;
	background: var(--fon);
}

main{
	margin-left: 87px;
}

h2{
	font-size: 30px;
	font-weight: 600;
}

a{
	text-decoration: none;
}
a: visited{
	text-decoration: none;
}
p{
	margin: 0px;
}

::placeholder{
	color: var(--grey2);
	opacity: 1;
}
::-ms-input-placeholder{
	color: var(--grey2);
}
:-ms-input-placeholder{
	color: var(--grey2);
}
input{
	outline: none;
	font-size: 16px;
}


/***********************************************************************************************
****************************     HEADER     ****************************************************
***********************************************************************************************/

header{
	height: 60px;
	display: flex;
	align-items: center;
	position: relative;
	box-shadow: 0px 4px 5px rgba(218, 222, 225, 0.25);
}
header a{
	height: 80%;
}
header a img{
	margin-left: 39px;
	height: 100%;
}
header .headermenu{
	display: flex;
	position: absolute;
	right: 72px;
	height: 60px;
}
header > div > div{
	display: flex;
	margin: 0px 12px;
	padding: auto 0px;
	align-items: center;
	cursor: pointer;
	border-top: 2px solid var(--fon);
	transition: .3s;
}
header .headermenu div:hover{
	color: var(--bluehover);
	border-top: 2px solid var(--bluehover);
}
header > div .active{
	color: var(--blue);
	border-top: 2px solid var(--blue);
}
header > div > div > p{
	margin: auto 0px;
}

/***********************************************************************************************
****************************     STEPS     *****************************************************
***********************************************************************************************/

.steps{
	margin: 54px 180px 35px 87px;
	display: grid;
	grid-template-columns: 154px 80px 180px 80px 103px 80px 133px;
	grid-gap: 16px;
	grid-template-rows: 1fr;
	height: 51px;
	transition: .3s;
}
.steps > div{
	display: flex;
	position: relative;
}
.steps > div .numberofstep{
	font-size: 16px;
	margin-top: 8px;
	color: var(--grey);
}
.steps > div .nameofstep{
	position: absolute;
	bottom: 0px;
	color: var(--grey);
	font-size: 13.5px;
}
.steps .line div{
	width: 80px;
	height: 17px;
	border-bottom: 1px solid var(--greyextra);
}
.steps div .circle{
	height: 31px;
	width: 31px;
	border-radius: 20px;
	border: 1px solid var(--grey2);
	margin-right: 8px;
}
.steps div .circle label{
	display: block;
	padding-top: 7px;
	text-align: center;
	color: var(--grey2);
}

/**********     STEPACTIVE     **************************/

.steps .stepactive div p{
	color: var(--black);
}
.steps .stepactive .circle{
	background: var(--blue);
	border-color: var(--blue);
}
.steps .stepactive .circle label{
	color: var(--fon);
}
.steps .lineblue div{
	border-color: var(--blue);
}

/**********     STEPDONE     ****************************/

.steps .stepdone .numberofstep{
	color: var(--black);
}
.steps .stepdone .circle{
	border-color: var(--blue);
	background-image: url(../img/checkmark.svg);
	background-repeat: no-repeat;
	background-position: center center;
}
.steps .stepdone .circle label{
	color: transparent;
}

/***********************************************************************************************
****************************     DESIGN     ****************************************************
***********************************************************************************************/

.design{
	display: grid;
	grid-template-columns: 673px 1fr;
	margin: 25px 81px 100px 87px;
}
.design .choose .pictures{
	display: grid;
	grid-template-columns: repeat(2, 277px);
	grid-template-rows: repeat(2, 391px);
	grid-gap: 36px;
	margin-top: 35px;
}
.design .choose .pictures label img{
	cursor: pointer;
}
.design .choose .pictures label img[src="../img/chosen.svg"]{
	display: none;
	position: relative;
    top: -409px;
    right: -247px;
}
   
.design .choose .pictures label input{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.design .choose .pictures label input:checked ~ img[src="../img/chosen.svg"]{
	display: inline;
}
.design .preview img{
	margin-top: 10px;
}
.design .preview a{
	display: block;
	margin-top: 36px;
	margin-bottom: 24px;
	width: 98%;
	height: 30px;
	background-color: var(--blue);
	color: var(--fon);
	font-family: var(--fontfam);
	text-align: center;
	padding-top: 6px;
	box-sizing: border-box;
	transition: .3s;
}
.design .preview a:hover{
	background-color: var(--bluehover);
}
.design .preview a:active{
	background-color: var(--blue);
}
.design .preview .check__box{
	display: grid;
	grid-template-columns: 21px 1fr;
}
.design .preview .check__box input{
	margin: 4px 0px 0px 0px;
}
.design .preview .check__box label{
	line-height: 24px;
}